<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.xxpay.service.dao.mapper.Z7881AccountMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="org.xxpay.core.entity.Z7881Account">
        <id column="Id" property="Id" />
        <result column="ParentId" property="ParentId" />
        <result column="Token" property="Token" />
        <result column="Phone" property="Phone" />
        <result column="TodayMoney" property="TodayMoney" />
        <result column="LimitDayMoney" property="LimitDayMoney" />
        <result column="TotalMoney" property="TotalMoney" />
        <result column="LimitMaxMoney" property="LimitMaxMoney" />
        <result column="CreateTime" property="CreateTime" />
        <result column="UpdateTime" property="UpdateTime" />
        <result column="Remark" property="Remark" />
        <result column="State" property="State" />
    </resultMap>



</mapper>
