/*css reset*/
html {
    font-family:sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
	font-size:75%;
}

body {
	width: 100%;
	font-size:1rem;/* 1*12px=12px */
    line-height: 1.666;
    color: #333333;
    -webkit-font-smoothing: antialiased;
    /*background: url(../images/bg_myPay.jpg) #6be8fe no-repeat center bottom;*/
	background: #198ede;
    overflow-x: hidden;
}

body,input,textarea {
    font-family: sans-serif;
}

header,footer,section,aside,article,nav,hgroup,figure,figcaption,body,h1,h2,h3,h4,h5,h6,ul,ol,li,form,p,dl,dt,dd,blockquote,legend,fieldset,menu,pre {
    margin: 0;
    padding: 0
}

img,fieldset {
    border: 0
}

time,mark,output,meter,address,cite,em,code,var,dfn,ins,i,th,caption {
    font-style: normal;
    text-decoration: none
}

h1,h2,h3,h4,h5,h6,th {
    font-size: 100%;
    font-weight: normal
}

input,select,button,textarea {
    margin: 0;
    font-family: inherit;
    font-size: 100%
}

abbr,acronym {
    border: 0;
    font-variant: normal
}

q:before,q:after {
    content: ""
}

ul,ol {
    list-style: none
}

/*table:not([align]) {*/
    /*border-collapse: collapse;*/
    /*border-spacing: 0*/
/*}*/

th,caption {
    text-align: left
}

header,footer,section,aside,article,nav,hgroup,figure,figcaption {
    display: block
}

a {
    text-decoration: none;
    outline: none;
}

select, button, input, textarea:active, a:active, select:active, option:active, input:active, textarea:focus, a:focus, select:focus, option:focus, input:focus {
    outline: 0;
}

*{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
/*css reset end*/

body.bg-f {
	background:#FFFFFF;
}

header {
background: #ededed; /* Old browsers */
background: -moz-linear-gradient(top, #ededed 0%, #ffffff 25%, #ffffff 70%, #ededed 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #ededed 0%,#ffffff 25%,#ffffff 70%,#ededed 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #ededed 0%,#ffffff 25%,#ffffff 70%,#ededed 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ededed', endColorstr='#ededed',GradientType=0 ); /* IE6-9 */
}

.header {
    width: 1000px;
    height: 75px;
    margin: 0px auto;
    position: relative;
}

.header .logo {
    float: left;
	margin: 15px 0 0 0;
}

.header .logo img{
    width: 200px;
}

.header .slogan {
	float:left;
    margin: 10px 0 0 20px;
}

.header .slogan img{
    width: 277px;
}

.header .topbar {
    line-height: 31px;
    position: absolute;
    right: 0;
    top: 0;
    font-size: 1.166rem;
    color: #69737A;
}

.header .topbar a{
    color: #69737A;
}

.header .topbar a:hover{
    color: #198ede;
}

.header .service {
	float: right;
	display:inline-block;
	margin: 32px 0 0 0;
	font-size:1.25rem;
	border-radius:8px;
	background:#84b804;
	padding:3px 20px;
	/*border:2px solid #b7e24e;*/
	color:#fff;
	cursor: pointer;
}
.header .service:hover {
	background:#6b920b;
}

.banner{
	height: 690px;
	/*background:#198ede;*/
	overflow:hidden;
	position:relative;
}

.banner_o_t{ 
	max-width:1920px;
	width:101%;
	position:absolute;
	bottom:0;
	left:-.5%;
	animation:anim-run 1.5s ease-in-out infinite alternate;
	-webkit-animation:anim-run 1.5s ease-in-out infinite alternate;
}

.banner_o_t img{ 
	width:100%;
}
@-ms-keyframes anim-run {
	from {left:-1%;}
	to {left:-.5%;}
}
@-webkit-keyframes anim-run {
	from {left:-1%;}
	to {left:-.5%;}
}

.content,.content_2 {
    position: absolute;
	top: 40px;
	left:50%;
	margin-left:-500px;
    width: 1000px;
    height: auto;
    /*margin: 0 auto;*/
	opacity:0.92;
}

.content p, .content_2 p{font-size: 1.166rem;line-height:2.5rem;}
.content p.txt-a, .content_2 p.txt-a{font-size: 2rem;font-weight:bold;text-align: center;}
.content p.txt-b,.content_2 p.txt-b{font-size: 1.5rem;font-weight:bold;text-align: center;}
.content p.txt-c,.content_2 p.txt-c{font-size: 1.166rem;line-height:2.5rem;margin:auto 5%;}

.content .bd, .content_2 .bd{
	position:relative;
	width:100%;
    padding: 20px 20px 10px;
	background-color: #ffffff;
    border-radius: 0 8px 8px;
}

.content .copyright,.content_2 .copyright{
	position:relative;
	width:100%;
    padding: 20px 0px 40px;
	text-align: center;
	color:#EAEAEA;
	font-size: 1rem;
}


.reg-form {
	width: 100%;
	font-size: 1.166rem;
    margin: 20px 0 10px 0;
	display:inline-block;
	background: #fff;
	border-top: 1px solid #ccc;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	overflow: hidden;
}

.reg-form .col{
    height: 62px;
	line-height: 62px;
	padding: 0;
	margin: 0;
	border-bottom: 1px solid #ccc;
	float:left;
}

.reg-form .col-name{ width:143px;color:#000000;text-align:right;background:#f6f6f6;}
.reg-form .col-data{ width:720px;padding:0 10px;}
.reg-form .col-else{ width:95px;color:#C30000}
.reg-form .col-bdrTop{ border-top: 1px solid #ccc;}
.reg-form .rowWrap{
	position:relative;
	display:block;
	width:inherit;
	float:left;
    /*border-bottom: 1px solid #ccc;
	border-image:linear-gradient(to right,#f6f6f6 0,#f6f6f6 143px,#fff 1px,#fff 100%) 0 0 1 0;
	border-image-width:0 0 100% 0;
	background: url(../images/bg_row.gif) repeat-y top left;*/
}

.reg-form .rowWrap .col{
	border-bottom:0
}

.reg-form .rowWrap .col-name{
	background:none;
}

.reg-form .rowWrap .col-data{
    height:auto;
}

.reg-form .reg-input {
    width: 100%;
    padding: 7px 10px;
    /*line-height: 30px;*/
    font-size: 14px;
    color: #000;
    border: 1px solid #ccc;
}

.reg-form .pay-label {
    display: block;
	height:62px;
    float: left;
	margin-right:14px;
}

.reg-form .pay-label img {
	width:133px;
    vertical-align: middle;
	margin:0 0 5px 5px;
}

_::-webkit-full-page-media, _:future, :root .reg-form .pay-label img {
  	margin:0 0 0 5px;
}

.blink{
	opacity: 50;
    /*animation: blinking 0.8s cubic-bezier(0.47, 0, 0.75, 0.72) infinite;*/
	color:#FF393D;
	border-radius: 8px;  
	display: block;
	width:120px;
	line-height: 21px;
	font-size: 1.1rem;
	font-weight: bold;
	float:right;
	margin-left:-120px;
	text-align: right;
}
@keyframes blinking {
  from,
  49.9% {
    opacity: 0;
  }
  50%,
  to {
    opacity: 1;
  }
}
/*.blink:after{
	content: "";
	position: absolute;
	left: 304px;
	border-style: solid;
	border-width:  10px 8px 0px 1px;
	border-color: #FBC500 transparent transparent transparent;
	transform:rotate(14deg);
	display: block;
	width: 0;
	z-index: -1;
}*/
.reg-form-btn a {
    display: block;
    width: 22%;
    height: 50px;
    border-radius: 6px;
    text-align: center;
    line-height: 50px;
    color: #ffffff;
    font-size: 2rem;
    margin: 10px auto;
	background: #1ab3dd; /* Old browsers */
	background: -moz-linear-gradient(top, #1ab3dd 0%, #1e6399 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #1ab3dd 0%,#1e6399 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #1ab3dd 0%,#1e6399 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1ab3dd', endColorstr='#1e6399',GradientType=0 ); /* IE6-9 */
	box-shadow: 1px 2px 4px rgba(0, 0, 0, .4);
}

.reg-form-btn a.disable {
background: #868585;/* Old browsers */
background: -moz-linear-gradient(top, #868585 0%, #777777 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #868585 0%,#777777 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #868585 0%,#777777 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#868585', endColorstr='#777777',GradientType=0 ); /* IE6-9 */
cursor:not-allowed;
}

.reg-form-btn a:hover{
background: #1e6399; /* Old browsers */
background: -moz-linear-gradient(top, #1e6399 0%, #1a9adb 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #1e6399 0%,#1a9adb 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #1e6399 0%,#1a9adb 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e6399', endColorstr='#1a9adb',GradientType=0 ); /* IE6-9 */
}

.reg-form-btn a.disable:hover {
background: #868585;/* Old browsers */
background: -moz-linear-gradient(top, #868585 0%, #777777 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #868585 0%,#777777 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #868585 0%,#777777 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#868585', endColorstr='#777777',GradientType=0 ); /* IE6-9 */
cursor:not-allowed;
}

.tips {
    font-size: 1.166rem;
	line-height:2.5rem;
    text-align: center;
    padding: 10px 0px;
}

.txt-red{color:#D7160D}
.txt-dark{color:#000000}
.txt-blue{color:#0871d4}
.txt-gray{color:#808080}
.txt-orange{color:#f60}
.txt-green{color:#2ab10f}
.txt-yellow-bg{background:#ffec00}



/*=======saoma QRcode========*/
.content_2{
		display: none
	}
.erweima{
    position:absolute;
    top:110px;
    left:180px;
    width:240px;
    height:auto;
    border:1px #3177EE solid;
    padding:20px
}

.payName{
    position:absolute;
    right:60px;
    top:170px;
    width:250px;
    text-align: center;
    font-weight: 900;
}

.pay-btn a{
	width: 315px;
    height: 60px;
    border-radius: 30px;
    text-align: center;
    line-height: 60px;
    font-size:18px;
    color: #fff;
    margin: 0 auto;
    position:absolute;
    top:480px;
    left:160px;
	background: #1ab3dd; /* Old browsers */
	background: -moz-linear-gradient(top, #1ab3dd 0%, #1e6399 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #1ab3dd 0%,#1e6399 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #1ab3dd 0%,#1e6399 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1ab3dd', endColorstr='#1e6399',GradientType=0 ); /* IE6-9 */
	box-shadow: 1px 2px 4px rgba(0, 0, 0, .4);
}

.pay-btn a:hover{
	background: #1e6399; /* Old browsers */
	background: -moz-linear-gradient(top, #1e6399 0%, #1a9adb 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #1e6399 0%,#1a9adb 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #1e6399 0%,#1a9adb 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e6399', endColorstr='#1a9adb',GradientType=0 ); /* IE6-9 */
}

.saoma-form-btn a {
	width:150px;
    display: block;
    height: 45px;
    border-radius: 6px;
    text-align: center;
    line-height: 45px;
    color: #ffffff;
    font-size: 1.6rem;
    margin: 10px auto;
	background: #1ab3dd; /* Old browsers */
	background: -moz-linear-gradient(top, #1ab3dd 0%, #1e6399 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #1ab3dd 0%,#1e6399 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #1ab3dd 0%,#1e6399 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1ab3dd', endColorstr='#1e6399',GradientType=0 ); /* IE6-9 */
	box-shadow: 1px 2px 4px rgba(0, 0, 0, .4);
}

.saoma-form-btn a.disable {
	background: #868585;/* Old browsers */
	background: -moz-linear-gradient(top, #868585 0%, #777777 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #868585 0%,#777777 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #868585 0%,#777777 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#868585', endColorstr='#777777',GradientType=0 ); /* IE6-9 */
	cursor:not-allowed;
}

.saoma-form-btn a:hover{
	background: #1e6399; /* Old browsers */
	background: -moz-linear-gradient(top, #1e6399 0%, #1a9adb 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #1e6399 0%,#1a9adb 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #1e6399 0%,#1a9adb 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e6399', endColorstr='#1a9adb',GradientType=0 ); /* IE6-9 */
}

.saoma-form-btn a.disable:hover {
	background: #868585;/* Old browsers */
	background: -moz-linear-gradient(top, #868585 0%, #777777 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #868585 0%,#777777 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #868585 0%,#777777 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#868585', endColorstr='#777777',GradientType=0 ); /* IE6-9 */
	cursor:not-allowed;
}

.go-back-btn, .saoma-form-btn{
	display:inline-block;
	text-align: center;
}

.go-back-btn{
	margin-left:34%;
}

.go-back-btn a {
	width:150px;
    display: block;
    height: 45px;
    border-radius: 6px;
    text-align: center;
    line-height: 45px;
    color: #ffffff;
    font-size: 1.6rem;
    margin: 10px auto;
	background: #1ab3dd; /* Old browsers */
	background: -moz-linear-gradient(top, #1ab3dd 0%, #1e6399 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #1ab3dd 0%,#1e6399 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #1ab3dd 0%,#1e6399 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1ab3dd', endColorstr='#1e6399',GradientType=0 ); /* IE6-9 */
	box-shadow: 1px 2px 4px rgba(0, 0, 0, .4);
}

.go-back-btn a.disable {
	background: #868585;/* Old browsers */
	background: -moz-linear-gradient(top, #868585 0%, #777777 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #868585 0%,#777777 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #868585 0%,#777777 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#868585', endColorstr='#777777',GradientType=0 ); /* IE6-9 */
	cursor:not-allowed;
}

.go-back-btn a:hover{
	background: #1e6399; /* Old browsers */
	background: -moz-linear-gradient(top, #1e6399 0%, #1a9adb 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #1e6399 0%,#1a9adb 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #1e6399 0%,#1a9adb 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e6399', endColorstr='#1a9adb',GradientType=0 ); /* IE6-9 */
}

.go-back-btn a.disable:hover {
	background: #868585;/* Old browsers */
	background: -moz-linear-gradient(top, #868585 0%, #777777 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #868585 0%,#777777 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #868585 0%,#777777 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#868585', endColorstr='#777777',GradientType=0 ); /* IE6-9 */
	cursor:not-allowed;
}

hr{
	height:1px;
	border:none;
	border-top:1px dashed #0066CC;
}


/*========Kuai xuan money============*/
.money-box{
	margin:10px 0;
	float: left;
}
.money-btn{
	display: inline-block;
    width: 63px;
    text-align: center;
    height: 32px;
    line-height: 32px;
    border: 1px solid #CCC;
    border-radius: 4px;
    color:#727273;;
    cursor:pointer;
    float: left;
    margin:2px;
}

.money-btn:hover {
    border:1.2px solid #0a64ab;
    color: #0a64ab;
}

.money-box .active{
  	background-image: url(../images/check.png);
	background-position: 100% 100%;
	background-repeat: no-repeat;
	border:1.2px solid #0a64ab;
	background-size: 27%;
	color: #0a64ab;
	font-weight: 500;

}

/*===tab===*/
.ui-tabs{
    padding:0;
}
#tab{
     position: absolute;
     top: 98px;
     left:50%;
     margin-left:-500px;
     x;
     width: 1000px;
     height: auto;
}
#tab ul{
    display:block;
    margin:0; 
    list-style:none;
    background:none;
    border:none;
}
.tab-title{
    list-style:none;
}
#tab ul li{
    display:inline-block;
    /* margin:0 -1px -1px 0; */
    height: 39px;
    line-height:39px;
    list-style:none;
    box-sizing:border-box;
    /* width:130px; */
    width: 15%;
    border-radius: 10px 10px 0 0;
    border:none;
}
#tab ul li:hover{
    background-color: #FFF;
    opacity:0.92
}
#tab ul li a{
    color: #363636;
    text-decoration:none;
    font-size: 1.25rem;
    font-weight: 600;
    background:none;
    border:none;
    text-align:center;
	width:100%;
}
#tab ul li.active{ 
    border-bottom:1px solid #fff; 
    background:#fff;
   opacity:0.92;
}

#tab ul li.active a{ 
    color:#000; 
    
}

#tab .tab-inner{
    clear:both;
    color:#000;
    top:98px;
    left:50%;
    margin-left:-500px;
    width: 1000px;
    height: auto;
}
.tab-inner{ 
    padding:15px; 
    height:50px;
}

#tab.ui-tabs{
    background:none;
    border:none;
}
.ui-tabs .ui-tabs-nav{
    padding:0px;
}
    
.ui-tabs .ui-tabs-nav .ui-tabs-anchor{
    padding:initial;
}
.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default,
.ui-state-disabled:active{
    background: #8bbcdd;
}
.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active {
    background:white;
    opacity:0.92;

}

